<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" version="122.0.6261.57"/>
	<package id="firefox" version="123.0.0"/>
	<package id="microsoft-teams.install" version="1.7.0.156"/>
	<package id="notepadplusplus.install" version="8.6.4"/>
	<package id="python" version="3.12.2"/>
	<package id="vscode" version="1.86.2"/>
	<package id="git" version="2.43.0"/>
	<package id="gh" version="2.44.1"/>
	<package id="azure-cli" version="2.57.0"/>
	<package id="postman" version="10.22.0"/>
	<package id="dotnet-7.0-sdk" version="7.0.406"/>
	<package id="dotnet-6.0-sdk" version="6.0.419"/>
	<package id="dotnet-5.0-sdk" version="5.0.408"/>
	<package id="dotnetcore-3.1-sdk" version="3.1.426"/>
	<package id="dotnetcore-2.1-sdk" version="2.1.818"/>
	<package id="nvm" version="1.1.12"/>
	<package id="mongodb" version="7.2.0"/>
	<package id="mongodb-compass" version="1.42.1"/>
	<package id="lens" version="2024.1.300751"/>
	<package id="docker-desktop" version="4.27.2"/>
	<package id="wsl" version="1.0.1"/>
	<package id="minikube" version="1.32.0"/>
</packages>